*{
    margin: 0px;
    font-family: "inter";
}
#logo{
    margin-top: 50px;
    margin-left: 50px;
}
#titulo {
    margin-left: 150px;
    margin-top: 50px;
}
#texto-introducao{
    color: white;
    margin-top: 25px;
    margin-left: 150px;
    text-align: "justify";
}
#introducao {
    background-image: url(imagens/menuprincipal.svg);
    color: white;
    padding-bottom: 100px;
}
#informativo { 
background-color: #eaece5;
display: grid;
grid-auto-flow: column;
columns: auto;
}
.icones{
    margin: 30px 0px 30px 15px;
    padding: 25px;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#video{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#titulovideo{
color: #247BA0;
margin-top: 50px;

}

#tela{
    margin: 50px 25px 50px 100px;
}
#carrossel{
    background-color:#247BA0;
    padding-bottom: 50px;
} 
#carrosseltitulo{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 25px;
}
#cards{
    display: grid;
    grid-auto-flow:column;
}
.card{
    margin-left: 50px;
    margin-top: 50px;
}
#esquerda{
    display: none;
}
#sam{
    display: none;
}
.setas{
    margin-top: 85%;
    cursor: pointer;

}
.setas:hover{
    transform: translateY(-07px);
    transition-duration: 0.5s;
}
.card:hover{
    transform: translateX(-07px);
    transition-duration: 0.5s;
}
#esquerda{
    padding: 75%;
}
#formulario{
    text-align: center;
}
#tituloformulario{
    font-size: 25px;
    margin-top: 25px;
    color: #383838
}
input{
    width:300px;
    height: 40px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left:10px; 
}
button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #b4def0;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #146283d8;
    transition-duration: 0.5s;
}